<div class=" container col-sm-6 offset-md-4 mt-5 mb-2">
  <h2 class="primary"> Login Page </h2>
  <form (ngSubmit) = "UserLogin()">

      <div class="row mb-3">
          <label class="col-sm-2 col-form-label">Email Id:</label>
          <div class="col-sm-4">
              <input type="text" class ="form-control" id = "emailId" [(ngModel)] ="user.emailId" name="emailId">
          </div>
          
      </div> 

      <div class="row mb-3">
          <label class="col-sm-2 col-form-label">Password:</label>
          <div class="col-sm-4">
              <input type="password" class ="form-control" id = "password" [(ngModel)] ="user.password" name="password">
          </div>
          
      </div>

      <button class = "btn btn-primary col-sm-6" type ="submit">Login</button>
      
  </form>
</div>
